/**
Word Guess Game
**/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }

/*
========================================
Header - Nav Bar
========================================
*/
.container1 {
  max-width: 960px;
  margin: 0 auto;
}

header {
  background: white;
  padding: 20px 40px 20px 40px;
  color: black;
  font-family:'Raleway', sans-serif;
  border: 1px solid transparent;
  z-index: 1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

nav a {
  color: black;
  padding: .25rem 0;
  margin-left: 1rem;
}

nav a:hover {
  color: grey;
  font-weight: Bold;
  text-decoration: none;
  border-bottom: 2px solid black;
}

.name {
  line-height: 40px;
}

/*
  ========================================
  Main
  ========================================
*/
body {
  display: flex;
  margin: 0 auto;
  min-height: 100vh;
  flex-direction: column;
}

.background {
    background: white;
    z-index: 0;
    flex-grow: 1;
    width: 100%;
    padding: 40px; 
  }

  .container2 {
    max-width: 960px;
    z-index: 1;
    background: white;
    padding: 20px 40px 10px 40px;
    margin: 0 auto;
    overflow: auto;
  }

/*
========================================
footer
========================================
*/

footer {
    background: white;
    font-family: 'Raleway', sans-serif;
    border-top: .25px solid silver;
    color: black;
    z-index: 1;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  
/*
========================================
Typography
========================================
*/
  h1 {
    font-size: 2rem;
    text-decoration: none;
    text-align: left;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    margin: 15px 20px 15px 20px; 
  }
  
  h2 {
    font-size: 2rem;
    text-decoration: none;
    color: grey;
    text-align: left;
    font-family: 'Georgia', Times, 'Times New Roman', Times, serif;
    margin-right: 1.5rem;
  }
  
  p {
    font-family: 'Raleway', sans-serif;
    color: #777777;
  }

  /*
  ========================================
  Intro Page
  ========================================
  */
 .pete {
  width: 450px;
  height: auto;
  max-width: 100%;
  min-height: 1px;
 }

 .introPage h1, #launchedGame h1 {
   font-family: 'Aldrich', sans-serif;;
   text-align: center;
   font-size: 2rem;
 }
 .introPage p, #launchedGame p {
   font-family: 'Darker Grotesque', sans-serif;
   font-size: 1.5rem; 
   text-align: center;
 }
 #button-launch {
  background: black;
  font-family: 'Aldrich', sans-serif;;
}

#button-launch a:hover {
 background:white;
 font-family: 'Aldrich', sans-serif;;
}

   /*
  ========================================
  Game Page
  ========================================
  */
 #myVideo {
  width: 450px;
  height: auto;
 }

 #restart {
   background: black;
   font-family: 'Aldrich', sans-serif;;
 }

 #restart a:hover {
  background:white;
  font-family: 'Aldrich', sans-serif;;
}